.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}

.bg-main {
  background-image: url(assets/icon.png);
  background-position: right;
  background-size: 600px;
}

.heading-text {
  text-align: left;
  font-weight: bold;
  font-size: 5rem;
  color: green;
}
.sub-text {
  font-size: 1.5rem;
  color: #33ff33;
}
.decrypt,
.encode {
  font-size: 2rem;
  color: #33ff33;
  cursor: pointer;
}
.decrypt {
  margin-left: auto;
}
.decrypt:hover,
.encode:hover {
  color: green;
}
.encode::before {
  content: "<";
}
.decrypt::after {
  content: ">";
}
.full-content {
  width: 100vw;
  height: 100vh;
}
